body{
    background-color:antiquewhite;
    font-family:"Comic Sans MS", "Comic Sans";
    }

h1{
    color: chocolate;
    text-justify:inherit;
    }
h2{
    color: maroon;
    font-weight: bolder;
    }
h3{
    color: antiquewhite;
    }

img {
    max-width: 70%;
    }

p{
    color: cornflowerblue;
    }

a:link{
    color: purple;
    }

a:active{
    color:cadetblue;
    }

.mediaparent {
    background-color: antiquewhite;
}
    
.mediacontainer {
    gap: 5%;
    background-color: chocolate;
    color:antiquewhite;
    margin: 3%;
    padding: 10%;
    justify-content: center;
}

    /* 
    tips to reference things more specifically than name
    -name tag selector ("p")
    -decendent selector ("p strong")
    -id selector (insert id="idlabel" into the specific paragraph you want to change, then ("#idlabel"))
    -classes selector (insert class="insertlabelhere" into the text, then (".insertclassnamehere")

    nav{
    margin: 0;
    background-color: bisque;
    border: 600px;
}
    */